<header class="flex justify-between m-1 pb-5 pt-1">
  <div class="flex justify-start">
    <h1><%= content_for(:title) %></h1>
  </div>
  <nav class="flex justify-end items-center space-x-6">
    <%= link_to(main_app.root_path, id: "home") do %>
      <%= render("teeny/info_circle_icon") %>
    <% end %>
    <%= link_to(main_app.blog_path, id: "blog") do %>
      <%= render("teeny/book_icon") %>
    <% end %>
    <%= link_to(main_app.talks_path, id: "talks") do %>
      <%= render("teeny/play_circle_icon") %>
    <% end %>
    <%= link_to(main_app.github_url, id: "github") do %>
      <%= render("teeny/git_fork_icon") %>
    <% end %>
    <%= link_to("#", id: "dark-toggle") do %>
      <%= render("teeny/moon_icon") %>
    <% end %>
  </nav>
</header>
