<header class="flex justify-between m-1 pb-6">
  <div class="flex justify-start">
    <h1><%= content_for(:title) %></h1>
  </div>
  <nav class="flex justify-end items-center space-x-5">
    <%= link_to("ðŸ ", main_app.root_path) %>
    <%= link_to("ðŸ“", main_app.blog_path) %>
    <%= link_to("ðŸ“£", main_app.talks_path) %>
    <%= link_to("ðŸŒ™", "#", id: "dark-toggle") %>
  </nav>
</header>
