<% content_for(:title, "Gannon McGibbon") %>

<p>
  👋 Hi, I'm Gannon!
  I'm a Software Developer from Winnipeg, Manitoba, Canada.
  Currently, I work as a Senior Developer on the Code Foundations team at <%= link_to("Shopify", shopify_url) %>.
</p>

<p>
  I graduated from <%= link_to("Red River College", rrc_url) %>'s <%= link_to("Business Information Technology program", rrc_bit_url) %>.
  Since then, I've worked mostly with Ruby and JavaScript.
  I'm also a committer on the <%= link_to("Ruby on Rails", rails_url) %> team, and contributor to a few other Ruby projects.
</p>

<p>
  I'm passionate about learning new things, open source software, and mentoring others.
  A few of my specialties in programming include Ruby on Rails, performance optimization, and writing tests.
  Finally, some of my hobbies include speaking Japanese, eating unreasonably spicy food, and petting my cat.
</p>

<p>
  While you're here, feel free to check out my <%= link_to("talks", talks_path) %>,
  <%= link_to("blog", blog_path) %>, and <%= link_to("Github profile", github_url) %>.
  You can also find the source for this website <%= link_to("here", github_repo_url("gannon.io")) %>.
  Thanks for stopping by!
</p>